{% extends "base.html" %}

{% block conteudo %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <article>
        <h2>{{ evento.nome }}</h2>
        <p>{{ evento.descricao }}</p>
        <p>
            <strong>Início:</strong> {{ evento.inicio }}
        </p>
        <p>
            <strong>Fim:</strong> {{ evento.fim }}
        </p>
        <p>
            <strong>Organizador:</strong> {{ evento.organizador }}
        </p>
        <p>
            <strong>Inscrições:</strong>
            {% if evento.inscricoes_abertas %}
                Abertas
            {% else %}
                Encerradas
            {% endif %}
        </p>
    </article>

    {% if perms.eventos.add_inscricaoevento %}
        {% if inscrito_no_evento %}
            <a href="{% url 'eventos:desinscrever_evento' evento.id %}">Desinscrever-se do evento</a>
        {% else %}
            <a href="{% url 'eventos:inscrever-se_evento' evento.id %}">Inscrever-se no evento</a>
        {% endif %}
        <br>
    {% endif %}

    {% if evento.organizador == user %}
        <a href="{% url 'eventos:criar_atividade' evento.id %}">Criar atividade para este evento</a>
        <br>
        <a href="{% url 'eventos:editar_evento' evento.id %}">Editar</a>
        <br>
        <a href="{% url 'eventos:excluir_evento' evento.id %}">Excluir</a>
    {% endif %}

    <p>----</p>
    <h3>ATIVIDADES:</h3>
    {% for atividade in atividades %}
        <article>
            <h4>{{ atividade.titulo }}</h4>

            <p><strong>Tipo:</strong> {{ atividade.tipo }}</p>

            <p><strong>Descrição:</strong> {{ atividade.descricao }}</p>

            <p><strong>Responsável:</strong> {{ atividade.responsavel }}</p>

            <p>
                <strong>Sala:</strong>
                {% if atividade.sala %}
                    {{ atividade.sala }}
                {% else %}
                    Não definida
                {% endif %}
            </p>

            <p><strong>Início:</strong> {{ atividade.inicio }}</p>

            <p><strong>Fim:</strong> {{ atividade.fim }}</p>
        </article>
        
        {% if evento.organizador == user %}
            <p> -- </p>
            <a href="{% url 'eventos:editar_atividade' atividade.id %}">Editar</a>
            <br>
            <a href="{% url 'eventos:excluir_atividade' atividade.id %}">Excluir</a>
        {%endif%}

        {% if perms.eventos.add_inscricaoatividade %}
            <p> -- </p>
            {% if atividade.ja_inscrito %}
                <a href="{% url 'eventos:desinscrever_atividade' atividade.id %}">Desinscrever-se da atividade</a>
            {%else%}
                <a href="{% url 'eventos:inscrever-se_atividade' atividade.id %}">Inscrever-se na atividade</a>
            {%endif%}
        {%endif%}

        <p>----</p>
    {% empty %}
        <p>Não há atividades para este evento.</p>
    {% endfor %}

{% endblock %}